---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { Icon } from "astro-iconify";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang="zh">
<head>
  <BaseHead title={t('site_title')} description={t('site_description')} />
</head>
<body class="w-full max-w-screen-md mx-auto my-4 px-2 bg-[#FBEFE5] dark:bg-[#104040] dark:text-neutral-300 transition-colors duration-300">
  <Header />
  <main class="flex flex-col justify-center p-1 m-4 rounded-md bg-[#FFF6EB] dark:bg-[#0F2F2F] transition-colors duration-300">
    <div class="px-4 md:px-16 flex flex-col md:my-4 text-center">
      <h1 class="text-2xl md:text-5xl w-full font-bold md:block">Chislon Chow</h1>
      
      <h2 class="text-sm md:text-base w-full font-semibold">
        註冊心理治療師 Registered Psychotherapist (安省 <Icon name="cif:ca" class="inline relative top-[-1px] md:top-[-2px] w-5 h-5 md:w-6 md:h-6"/>)
      </h2>
    </div>
    <div class="mx-2 md:mx-4 my-4 px-4 md:px-8 py-6 md:py-8 flex flex-col gap-4 rounded-xl bg-[#eee] dark:bg-black">
      <p class="w-full text-center text-sm md:text-base">
        我的心理治療方針著重於 ： 憐憫、依附理論、及創傷知情。我有為講英語和粵語的個人、配偶及家庭提供心理治療的經驗。從香港來到加拿大的我，對兩者的文化都有一定的了解。我能運用的心理治療方式包括情緒取向治療 (Emotionally Focused Therapy) 及辯證行為治療 (Dialectical Behavioural Therapy)。
      </p>
    </div>
    <div class="flex justify-center">
      <a id="email-link" class="text-center no-underline bg-cyan-500 hover:bg-cyan-700 text-white hover:text-white font-bold py-4 px-4 rounded-2xl w-fit duration-300">
        啟用 JavaScript 以顯示受保護的電子郵件地址。
      </a>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var emailLink = document.getElementById("email-link") as HTMLAnchorElement;
          if (emailLink) {
            var user = "contact";
            var domain = "chislonchow.com";
            var assembleText = user + "@" + domain;
            emailLink.innerHTML = "透過電子郵件查詢 <br />" + assembleText;
            emailLink.href = "mailto:" + assembleText + "?subject=會談請求（來自網頁）&body=我想與你預約會談。我的詳細資訊如下：%0D%0A%0D%0A姓名：[你的姓名]%0D%0A首選日期和時間：[請提供幾個選項]%0D%0A會議目的：[一次性初次網上諮詢／心理治療網上會談／其他]%0D%0A%0D%0A請你安排這次會談，或讓我知道你其他方便的時間。";          }
        });
      </script> 
    </div>
    <div class="px-4 md:px-12 flex flex-col gap-4 mb-4 mt-16">
      <h3 class="text-base md:text-lg w-full font-semibold">
        <Icon name="noto:globe-with-meridians" class="inline relative top-[-1px] md:top-[-2px] w-5 h-5 md:w-6 md:h-6"/>合作夥伴
      </h3>
      <ul class="text-sm">
        <li>
          <a href="https://openpathcollective.org/clinicians/chislon-chow/">Open Path Collective: 負擔得起的心理治療</a>
        </li>
        <li>
          <a href="https://www.asianmhc.org/therapists/chislon-chow/">Asian Mental Health Collective: 支持亞裔心理健康</a>
        </li>
        <li>
          <a href="https://directory.iceeft.com/therapist-profile/chislon_chow_16442/">國際情緒取向治療卓越中心治療師目錄</a>
        </li>
      </ul> 
      <h3 class="text-base md:text-lg w-full font-semibold">
        <Icon name="noto:police-car-light" class="inline relative top-[-1px] md:top-[-2px] w-5 h-5 md:w-6 md:h-6"/>大多倫多區心理健康危機資訊
      </h3>
      <p class="w-full text-sm md:text-base">我無法在緊急情況下提供即時援助，請立即尋求你需要的緊急支援以確保安全。</p>
      <p class="w-full text-sm md:text-base">如果遇到緊急情況時，也許你應該立即撥打911緊急熱線以尋求幫助。也可考慮聯繫當地的24小時危機熱線，例如: </p>

      <ul class="text-sm">
        <li>
          <a href="https://988.ca/">自殺危機求助專線 Suicide Crisis Helpline</a>: 988
        </li>
        <li>
          <a href="https://www.dcogt.com/408-helpline/">多倫多危難中心求助專線 Distress Centre of Toronto Helpline</a>: 416-408-4357
        </li>
        <li>
          <a href="https://yssn.ca/310-cope/">你的支援服務網路危機熱線 Your Support Services Network Crisis Line</a>: 1-855-310-2673
        </li>
        <li>
          <a href="https://kidshelpphone.ca/urgent-help">協助兒童電話求助專線 Kids Help Phone Helpline</a>: 1-800-668-6868
        </li>
      </ul>      
    </div>
  </main>
  <Footer />
</body>
</html>
