html {
    font-family: 'Noto Serif', 'Noto Serif TC', 'Times New Roman', serif;
    font-size: 1.0rem;
    width: 100%;
}

/* Larger font size for medium screens and above (e.g., tablets and desktops) */
@media (min-width: 768px) {
    html {
        font-size: 1.125rem;
    }
}

a {
    color: inherit;
    text-decoration: underline dotted;
    text-decoration-thickness: .05rem;
}

a:hover {
    color: gray; /* Gray color for dark mode */
}

.dark a:hover {
    color: white; /* White color for dark mode */
}

img {
    @apply rounded-lg;
    max-width: 100%;
    height: auto;
}

main ul {
    list-style-type: square;
    padding-left: 1.125rem;
}
main ol {
    list-style-type: decimal;
    padding-left: 1.125rem;
}
