---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { Icon } from "astro-iconify";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={t('site_title')} description={t('site_description')} />
</head>
<body class="w-full max-w-screen-md mx-auto my-4 px-2 bg-[#FBEFE5] dark:bg-[#104040] dark:text-neutral-300 transition-colors duration-300">
  <Header />
  <main class="flex flex-col justify-center p-1 m-4 rounded-md bg-[#FFF6EB] dark:bg-[#0F2F2F] transition-colors duration-300">
    <div class="px-4 md:px-16 flex flex-col md:my-4 text-center">
      <h1 class="text-2xl md:text-5xl w-full font-bold md:block">Chislon Chow</h1>
      
      <h2 class="text-sm md:text-base w-full font-semibold">
        Registered Psychotherapist (Ontario <Icon name="cif:ca" class="inline relative top-[-1px] md:top-[-2px] w-5 h-5 md:w-6 md:h-6"/>)
      </h2>
    </div>
    <div class="mx-2 md:mx-4 my-4 px-4 md:px-8 py-8 md:py-8 flex flex-col gap-4 rounded-xl bg-[#eee] dark:bg-black">
      <p class="w-full text-center text-sm md:text-base">
        My psychotherapy approach centers on : compassion, attachment theory, and being trauma-informed. I have helped individuals, couples, and families who speak English and Cantonese. Coming to Canada from Hong Kong, I have insight into both cultures. Psychotherapeutic modalities I may use include Emotionally Focused Therapy and Dialectical Behavioural Therapy. 
      </p>
    </div>
    <div class="flex justify-center">
      <a id="email-link" class="text-center no-underline bg-cyan-500 hover:bg-cyan-700 text-white hover:text-white font-bold py-4 px-4 rounded-2xl w-fit duration-300">
        Enable JavaScript to show protected email address.
      </a>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var emailLink = document.getElementById("email-link") as HTMLAnchorElement;
          if (emailLink) {
            var user = "contact";
            var domain = "chislonchow.com";
            var assembleText = user + "@" + domain;
            emailLink.innerHTML = "Email inquiries to <br />" + assembleText;
            emailLink.href = "mailto:" + assembleText  + "?subject=Meeting Request (from webpage)&body=I would like to book a meeting with you. My details are as follows:%0D%0A%0D%0AName: [Your preferred name] %0D%0APreferred Date and Time: [Give a few options]%0D%0APurpose of meeting: [online one-time first consultation/online psychotherapy session/other]%0D%0A%0D%0APlease arrange for this meeting, or let me know of your alternative availability.";
          }
        });
      </script> 
    </div>
    <div class="px-4 md:px-12 flex flex-col gap-4 mb-4 mt-24">
      <h3 class="text-base md:text-lg w-full font-semibold text-center">
        <Icon name="noto:police-car-light" class="inline relative top-[-1px] md:top-[-2px] w-5 h-5 md:w-6 md:h-6"/>Greater Toronto Area Mental Health Crisis Information
      </h3>
      <p class="w-full text-sm md:text-base">I cannot be immediately available for emergencies, please ensure safety by seeking the emergency supports you need.</p>
      <p class="w-full text-sm md:text-base">In the case of emergency, maybe you should immediately call your emergency hotline at 911 to call for help. You may also consider reaching out to local 24-hour Crisis Hotlines, such as: </p>
      <ul class="text-sm">
        <li>
          <a href="https://988.ca/">Suicide Crisis Helpline</a>: 988
        </li>
        <li>
          <a href="https://www.dcogt.com/408-helpline/">Distress Centre of Toronto Helpline</a>: 416-408-4357
        </li>
        <li>
          <a href="https://yssn.ca/310-cope/">York Support Services Network Crisis Line</a>: 1-855-310-2673
        </li>
        <li>
          <a href="https://kidshelpphone.ca/urgent-help">Kids Help Phone Helpline</a>: 1-800-668-6868
        </li>
      </ul>      
    </div>
  </main>
  <Footer />
</body>
</html>
